@model IEnumerable<LotteryApplication.Models.Participation>

@{
    ViewData["Title"] = "Index Participation";
}

<center>

<h1 style="font-weight:700">Participations</h1>
<br />

<p>
    <a asp-action="Create" class="btn btn-primary">+ Create New participation</a>
</p>
</center>
<br />
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfParticipation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfParticipation)
            </td>
            <td>
                    <a asp-action="EditParticipation" asp-route-id="@item.Id"><i id="iconedit" class="gg-pen"></i></a>
                    <a asp-action="DeleteParticipation" asp-route-id="@item.Id"> <i class="gg-trash-empty"></i> </a>
                </td>
           
        </tr>
}
    </tbody>
</table>
